$c-white: #FFF;
$c-black: #000;
$c-gray: #4A4A4A;
$c-green: #00794C;
$c-red: #D0011B;
$c-orange: #F6A623;

$bg-gray: #eee;
$bg-lightgray: #FAFAFA;
$bg-green: #00794C;

$border-gray: #979797;
$border-lightgray: #D5D5D5;